div.from-info {
  width: 33%;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
  margin-right: auto;
}

div.ticket-info-price {
  width: 33%;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -20px;
  left: 20px;
}

div.to-info {
  width: 33%;
  display: inline-block;
  margin-left: auto;
  text-align: right;
  padding-right: 20px;
}

span.from-info-time, span.to-info-time {
  color: #5dc1ff;
  font-weight: 500;
  display: block;
  font-size: 28px;
}

span.from-info-date, span.to-info-date {
  color: #ccc;
  font-size: 8x;
}

span.duration {
  color: #5dc1ff;
  display: block;
  font-size: 14px;
  background: url('../../icons/plain-small-horizontal.png') no-repeat 70% 75%;
  background-size: 14%;
  margin-left: -25%;
}

span.price {
  color: #5dc1ff;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
  background: url('../../icons/line.png') no-repeat 0% 15%;
  background-size: 100%;
}