.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 400px;
}

.top-panel {
  margin: 1rem 0;
}

@media screen and (min-width: 500px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}