div.basket {
  float: right;
  padding-right: 50px;
  padding-top: 40px;
  width: 37%;
}

div.empty-basket {
  float: right;
  width: 37%;
  text-align: center;
  color: #ccc;
  font-size: 22px;
  margin: auto;
  margin-top: 100px;
  padding-top: 90px;
  background: url('../../icons/plain-gray.png') no-repeat 50% 0%;
}

div.ticket-in-basket {
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid #e6e3e3;
  padding-bottom: 15px;
}

div.ticket-in-basket:hover {
  cursor: pointer;
}

div.cities {
  color: #706e6e;
  margin-bottom: 15px;
  font-size: 18px;
}

span.cities-from {
  background: url('../../icons/plain-small-horizontal.png') no-repeat 90% 50%;
  padding-right: 60px;
}

div.summ span.ticket-important-info {
  color: #5dc1ff;
  font-weight: 500;
  font-size: 18px;
}

div.summ {
  color: #ccc;
  font-size: 8x;
}

.basket-buy-button {
  background-color: #5dc1ff;
  color: white;
  font-size: 24px;
  font-weight: 500;
  width: 80%;
  border: none;
  margin-left: 10%;
  margin-top: 40px;
  padding: 15px 0px;
}